<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="ChoosePathInstallDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ChoosePathInstallDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ChoosePathInstallDlgTitle)" />

                <Control Id="PathGroup" Type="RadioButtonGroup" X="20" Y="55" Width="330" Height="120" Property="WIX_PATH">
                    <RadioButtonGroup Property="WIX_PATH">
                        <RadioButton Value="NoPath" X="0" Y="0" Width="295" Height="16" Text="!(loc.WixDoNotAddPath)" />
                        <RadioButton Value="SystemPath" X="0" Y="20" Width="295" Height="16" Text="!(loc.WixAddToSystemPath)" />
                        <RadioButton Value="UserPath" X="0" Y="40" Width="295" Height="16" Text="!(loc.WixAddToUserPath)" />
                    </RadioButtonGroup>
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
