<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="CLIClientComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassCLIClient" Subdirectory="bin">
                <File Source="bin\multipass.exe" />
                <Environment Name="PATH" System="no" Value="[INSTALLFOLDER]bin" Action="set" Part="last" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
