<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <ComponentGroup Id="DaemonComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassDaemon" Subdirectory="bin">
                <File Source="bin\multipassd.exe" />
                <ServiceInstall Name="Multipass" DisplayName="Multipass Service" Description="Provides a service to create and manage virtual machines" Arguments="/svc --verbosity debug" Start="auto" Type="ownProcess" ErrorControl="normal">
                    <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="49710" />
                </ServiceInstall>
                <ServiceControl Name="Multipass" Stop="both" Remove="uninstall" />

                <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Multipass" Name="EventMessageFile" Value="%SystemRoot%\\System32\EventCreate.exe" />
                <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Multipass" Name="TypesSupported" Value="7" />
            </Component>
        </ComponentGroup>

        <Property Id="DRIVER" Value="HyperV" Secure="yes" />
        <Property Id="HYPER_V_STATE" Value="Disabled" Secure="yes" />

        <Binary Id="CABinary" SourceFile="$(var.CustomActions.TargetDir)\$(var.CustomActions.TargetName).CA.dll" />
        <CustomAction Id="CheckHyperVAction" Impersonate="no" BinaryRef="CABinary" DllEntry="CheckHyperV" Return="check" />
        <CustomAction Id="EnableHyperVAction" Impersonate="no" BinaryRef="CABinary" DllEntry="EnableHyperV" Return="check" />
        <CustomAction Id="SetDriverAction" Impersonate="yes" BinaryRef="CABinary" DllEntry="SetDriver" Return="check" />

        <Property Id="VBOX_VERSION">
            <RegistrySearch Id="VBOX_VERSION" Root="HKLM" Key="SOFTWARE\Oracle\VirtualBox" Name="Version" Type="raw" />
        </Property>

        <InstallExecuteSequence>
            <Custom Action="CheckHyperVAction" After="InstallInitialize" Condition="DRIVER = &quot;HyperV&quot; AND NOT Installed" />
            <Custom Action="EnableHyperVAction" After="CheckHyperVAction" Condition="DRIVER = &quot;HyperV&quot; AND HYPER_V_STATE &lt;&gt; &quot;Enabled&quot; AND NOT Installed" />
            <Custom Action="SetDriverAction" After="InstallFinalize" Condition="NOT Installed" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
