<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
    <Fragment>
        <ComponentGroup Id="DaemonComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassDaemon" Subdirectory="bin">
                <File Source="bin\multipassd.exe" />
                <ServiceInstall Name="Multipass" DisplayName="Multipass Service" Description="Provides a service to create and manage virtual machines" Arguments="/svc --verbosity debug" Start="auto" Type="ownProcess" ErrorControl="normal">
                    <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="49710" />
                </ServiceInstall>
                <ServiceControl Name="Multipass" Stop="both" Remove="uninstall" />

                <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Multipass" Name="EventMessageFile" Value="%SystemRoot%\\System32\EventCreate.exe" />
                <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\Multipass" Name="TypesSupported" Value="7" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
