<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="GUIComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassGUI" Subdirectory="bin">
                <File Source="..\..\..\build\_CPack_Packages\win64\NSIS\multipass-1.14.0-dev.1482+g0998c72eb.win-win64\multipass_gui\bin\multipass.gui.exe" />
            </Component>

            <Component>
                <RegistryValue Root="HKCU" Key="SOFTWARE\Canonical\Multipass" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Name="Multipass" Directory="ProgramMenuFolder" Icon="mp.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
