<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="GUIComponents" Directory="INSTALLFOLDER">
            <Component Id="MultipassGUI" Subdirectory="bin">
                <File Source="bin\multipass.gui.exe" />
            </Component>

            <Component>
                <RegistryValue Root="HKCU" Key="SOFTWARE\Canonical\Multipass" Name="installed" Type="integer" Value="1" KeyPath="yes" />
                <Shortcut Name="Multipass" Directory="ProgramMenuFolder" Icon="mp.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
