<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Multipass" Manufacturer="Canonical Ltd" Version="$(Version)" UpgradeCode="faebc626-1491-49bb-8162-22b1684013d9">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <MediaTemplate EmbedCab="yes" />
        <Icon Id="mp.exe" SourceFile="icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="mp.exe" />

        <FeatureRef Id="Main" />

        <ui:WixUI Id="WixUI_Minimal" />
    </Package>

    <Fragment>
        <Feature Id="Main">
            <ComponentGroupRef Id="CLIClientComponents" />
            <ComponentGroupRef Id="DaemonComponents" />
            <ComponentGroupRef Id="GUIComponents" />
            <ComponentRef Id="Fonts" />
            <ComponentRef Id="Licence" />
        </Feature>
    </Fragment>

    <Fragment>
        <Component Id="Fonts" Directory="FontsFolder">
            <File Source="UbuntuMono-R.ttf" TrueType="true" />
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Fonts" Name="Ubuntu Mono (TrueType)" Value="UbuntuMono-R.ttf" />
        </Component>
    </Fragment>

    <Fragment>
        <Component Id="Licence" Directory="INSTALLFOLDER">
            <File Source="UBUNTU-LICENCE.txt" />
        </Component>
    </Fragment>

    <Fragment>
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
        </StandardDirectory>
    </Fragment>
</Wix>
