# Turn all warnings off but readability-identifier-naming
Checks: >
  -*,
  readability-identifier-naming
CheckOptions:
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase, value: lower_case }
HeaderFilterRegex: "^(?!.*\\.pb\\.h$).*multipass/.*"
