[submodule "3rd-party/libssh/libssh"]
	path = 3rd-party/libssh/libssh
	url = https://github.com/CanonicalLtd/libssh.git
[submodule "3rd-party/xz-decoder/xz-embedded"]
	path = 3rd-party/xz-decoder/xz-embedded
	url = https://github.com/tukaani-project/xz-embedded.git
[submodule "3rd-party/semver"]
	path = 3rd-party/semver
	url = https://github.com/CanonicalLtd/semver.git
[submodule "3rd-party/jsoncpp"]
	path = 3rd-party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rd-party/vcpkg"]
	path = 3rd-party/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "3rd-party/flutter"]
	path = 3rd-party/flutter
	url = https://github.com/flutter/flutter
[submodule "3rd-party/protobuf.dart"]
	path = 3rd-party/protobuf.dart
	url = https://github.com/google/protobuf.dart
