.idea
.vs
.vscode
.clangd
.cache
cmake-build-*
.DS_Store
CMakeLists.txt.user
build

# package build artifacts
*.deb
*.buildinfo
*.changes

# snapcraft build artifacts
parts
prime
stage
snap/.snapcraft/state

# wix build artifacts
packaging/windows/wix/obj/*
packaging/windows/custom-actions/packages/*
packaging/windows/custom-actions/x64/*

# https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html
CMakeUserPresets.json

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# QT network download cache
network-cache/

# clangd code index cache
.cache
