[submodule "3rd-party/yaml-cpp"]
	path = 3rd-party/yaml-cpp
	url = https://github.com/canonical/yaml-cpp.git
	ignore = dirty
[submodule "3rd-party/libssh/libssh"]
	path = 3rd-party/libssh/libssh
	url = https://github.com/CanonicalLtd/libssh.git
[submodule "3rd-party/xz-decoder/xz-embedded"]
	path = 3rd-party/xz-decoder/xz-embedded
	url = https://git.tukaani.org/xz-embedded.git
[submodule "3rd-party/semver"]
	path = 3rd-party/semver
	url = https://github.com/CanonicalLtd/semver.git
[submodule "3rd-party/scope_guard"]
	path = 3rd-party/scope_guard
	url = https://github.com/ricab/scope_guard.git
[submodule "3rd-party/fmt"]
	path = 3rd-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd-party/vcpkg"]
	path = 3rd-party/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "3rd-party/flutter"]
	path = 3rd-party/flutter
	url = https://github.com/flutter/flutter
[submodule "3rd-party/protobuf.dart"]
	path = 3rd-party/protobuf.dart
	url = https://github.com/google/protobuf.dart
