.idea
.vs
.vscode
cmake-build-*
.DS_Store
CMakeLists.txt.user
build

# package build artifacts
*.deb
*.buildinfo
*.changes

# only care about the encrypted file
/tools/bot-data/*
/tools/bot-data.tar.xz

# snapcraft build artifacts
parts
prime
stage
snap/.snapcraft/state

# Flutter build artifacts
src/client/gui/lib/generated
src/client/gui/build
src/client/gui/.dart_tool
src/client/gui/flutter*.log
.flutter-plugins
.flutter-plugins-dependencies

# wix build artifacts
packaging/windows/wix/obj/*
packaging/windows/custom-actions/packages/*
packaging/windows/custom-actions/x64/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
