tests/unit/test_data/formatters/** -text
tests/unit/test_data/alias_dict/formatter/** -text
3rd-party/vcpkg-ports/**/*.patch linguist-generated=true
3rd-party/vcpkg-ports/**/multipass-patches/*.patch linguist-generated=false
