.idea
.vs
.vscode
cmake-build-*
.DS_Store
CMakeLists.txt.user
build

# package build artifacts
*.deb
*.buildinfo
*.changes

# snapcraft build artifacts
parts
prime
stage
snap/.snapcraft/state

# wix build artifacts
packaging/windows/wix/obj/*
packaging/windows/custom-actions/packages/*
packaging/windows/custom-actions/x64/*

# Python artifacts
*.pyc


# Added by cargo

/target
