<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.canonical.multipass.gui.autostart</string>

    <key>Program</key>
    <string>/Applications/Multipass.app/Contents/MacOS/Multipass</string>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>ThrottleInterval</key>
    <integer>0</integer>

    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
