Source: multipass
Build-Depends: autoconf-archive,
               bison,
               build-essential,
               clang,
               clang-tools,
               cmake,
               curl,
               google-mock,
               libapparmor-dev,
               libayatana-appindicator3-dev,
               libgtkmm-3.0-dev,
               libkeybinder-3.0-dev,
               libnotify-dev,
               libssl-dev,
               libsystemd-dev,
               lld,
               llvm,
               ninja-build,
               pkg-config,
               python3-venv,
               zip,
