Source: multipass
Build-Depends: build-essential,
               cmake,
               google-mock,
               libapparmor-dev,
               libvirt-dev,
               libsystemd-dev,
               pkg-config,
               qt6-base-dev,
               libssl-dev,
               libayatana-appindicator3-dev,
               libkeybinder-3.0-dev,
               libgtkmm-3.0-dev,
               zip,
