Source: multipass
Build-Depends: build-essential,
               cmake,
               cmake-extras,
               golang,
               google-mock,
               libvirt-dev,
               libsystemd-dev,
               pkg-config,
               qtbase5-dev,
