/*env*/

.sphinx/venv/
.sphinx/styles/
.sphinx/vale.ini
.sphinx/warnings.txt
.sphinx/.wordlist.dic
.sphinx/.doctrees/
.sphinx/node_modules/

package*.json
_build
.DS_Store
__pycache__
.idea/
.vscode/


