[Desktop Entry]
Name=Multipass
Exec=multipass.gui
Icon=/snap/multipass/current/meta/gui/multipass-gui.png
Type=Application
Terminal=false
Categories=Utility;

