#
name: Automatic doc checks

on:
  workflow_call:
  workflow_dispatch:
    # Manual trigger

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation-checks:
    uses: canonical/documentation-workflows/.github/workflows/documentation-checks.yaml@main
    with:
      working-directory: "./docs"
      fetch-depth: 0
      python-version: '3.12'
